-# ヘッダー
.header
  .header__inner
    .header__inner__title
      %a.title(href="") XeoryExtension
    .header__inner__menuy
      .header__inner__menuy__sample
        %a.sample(href="#") 記事ページサンプル
      .header__inner__menuy__download
        %a.download(href="#") Extensionをダウンロード

-# タイトル
.main-title
  .main-title__conteiner
    %h1.title Xeory Extension
    %p.title Xeory Extensionはワンコラムのサイト型テーマです。ユーザーに対して重要なコンテンツを効率的に届けられるようにデザインされています。５種類のカラーバリエーションを用意しています。

-# 人気のある記事
.main-content
  .main-content__article
    .main-content__article__background
    .main-content__article__top
      = icon('fa','flag', class: "article")
      %h4.article 人気のある記事
    .main-content__article__under
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number.one NO.1
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number.two NO.2
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number.three NO.3
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number.four NO.4
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number.five NO.5
          %p.color カテゴリー#5
          %p.text テスト投稿

-# 最近の投稿
.main-content
  .main-content__article
    .main-content__article__background
    .main-content__article__top
      = icon('fa','clock', class: "article")
      %h4.article 最近の投稿
    .main-content__article__under.bottom
      %ul.article
        %li.article
          =image_tag "MacBook-and-clutter.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#１
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-holding.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#2
          %p.text テスト投稿
        %li.article
          =image_tag "communication.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#3
          %p.text テスト投稿
        %li.article
          =image_tag "rest-time-in-front-of-macbook.png", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#4
          %p.text テスト投稿
        %li.article
          =image_tag "macbook-at-the-coffee-shop.jpg", class: "article", hight: "220px", width: "215px"
          %p.number 2014 10/24
          %p.color カテゴリー#5
          %p.text テスト投稿
    .main-content__article__background

-# XeoryExtensionの特徴
.main-feature

-# サービスの紹介
.main-service

-# 会社紹介
.main-company

-# お問い合わせ
.main-inquiry

-# フッター
.footer